@import url('https://fonts.googleapis.com/css?family=Gaegu&display=swap');


html, body{
	margin: 0;
	padding-top: 20px;
	position: relative;
	min-height: 100%;
  color: rgb(0,97,192,1);
  line-height: 5em;
  font-size: 1em;
	font-family: Gaegu, Arial;
	font-weight: 300;
	text-align: center;
	background-color: #fff3a8;
}

img {
  height:600px;
}